@import '../modules/titulos';
@import '../base/variables';

#about{
    width: 100%;
}
#about h1{
    @include title--header;
}
#about span{
    font-size: 3rem;
    color: $textcolor-primary;
    display: block;
}
@media(min-width: 1000px){
    #about .container{
        padding: 50px 150px;
    }
}