@import '../modules/titulos';
@import '../base/variables';

#contact{
    background: url(../img/bg-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0;
    margin-bottom: 30px;
    width: 100vw;
        & h1{
            @include title--header;
            margin-bottom: 15px;
        }
}
.contact__wrapper{
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 100%;
}
.social-media{
    color: #fff;
    padding: 30px;
    background: url(../img/textura2.png);
    text-align: left;
        & h2{
            text-transform: uppercase;
            margin: 15px 0;
        };
        & ul{
            list-style: none;
                    & li a{
                        display: block;
                        padding: 10px;
                        color: #fff;
                        font-size: 1.5rem;
                    };
                        & li a:hover{
                            color: $bgcolor-secondary;
                        }
        };
}
.social-media__icons{
    display: inline-block;
    margin-right: 10px;

}
.form-contact{
    background-color: #fff;
    margin-top: 30px;
    padding: 30px;
    text-align: left;
    border: 1px solid $bgcolor-primary;
}
.form-contact h2{
    text-transform: uppercase;
    margin: 15px 0;
}
.form-contact button{
    border: none;
    border-radius: 5px;
    margin: 15px 0;
    padding: 15px 20px;
    background-color: $bgcolor-secondary;
    text-transform: uppercase;
    color: #fff;
}
.input-field{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    position: relative;
        & input{
            outline: none;
            padding: 10px 0 5px 0;
            border: {
                style: none;
                bottom: {
                    size: 1px;
                    style: solid;
                    color: $textcolor-primary;
                };
            };
                &:focus{  
                    border-bottom: 2px solid $bgcolor-secondary;
                    transition: all .2s ease;
                }
        };
        & label{
            transition: all .5s ease;
        }
}
.input-field input:focus ~ label{
    color: $bgcolor-secondary;
}
.input-field textarea{
    padding: 10px 10px 0 0;
    font-size: 1.5rem;
    border: {
        style: none;
        bottom: {
            size: 2px;
            style: solid;
            color: $textcolor-primary;
        };
    };
        &::placeholder{
            font-size: 1.1rem;
            color: rgba($color: #000, $alpha: 0.7);
        };
        &:focus{
            outline: none;
            border-bottom: 2px solid $bgcolor-secondary;
            transition: all .2s ease;
        };
}
@media (min-width: 1000px){
    .contact__wrapper{
        flex-direction: row;
        justify-content: space-between;
        background: url(../img/textura2.png);
    }
    .form-contact{
        margin-top: 0px;
    }
}