@import '../base/variables';

.header{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 15px 15px;
    background-color: #000;
}
.header__wrapper{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
}
.header__logo img{
    max-width: 100%;
    display: block;
    margin-right: 15px;
    border-radius: 50%;
}
.header__logo span{
    color: #fff;
}
.header__nav--wrapper{
    width: 56px;
    height: 56px;
    position: relative;
}

@media (min-width: 1000px){
    .header{
        background-color: rgba($color: #000000, $alpha: .8)
    }
    .header__nav--wrapper{
        display: none;
    }
}