@import '../base/variables';
@import '../modules/animations';
#home{
    width: 100vw;
    height: 100vh;
    margin-bottom: 30px;
    background: url(../img/bg1.jpg);
    background-size: cover;
    background-position: right;;
    display: flex;
    align-items: center;
    text-align: center;
}
#home h1{
    font-size: 3rem;
    color: $textcolor-secondary;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    letter-spacing: -2px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
#home span{
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: -1px;
    line-height: 2;
}
#home span::after{
    content: '|';
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
    opacity: 1;
    animation: blinkTrace .75s infinite;
}
