@import '../modules/titulos';
@import '../base/variables';

#portfolio{
    padding: 30px 0;
    margin-bottom: 30px;
    width: 100vw;
    background: url(../img/textura2.png);
        & h1{
            @include title--header;
            margin-bottom: 15px;
        }
}
.portfolio__card--wrapper{
    display: block;
    margin-top: 20px;
}
.portfolio__card{
    max-width: 350px;
    height:450px;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #4d4d4d;
    padding: 10px;
}
.portfolio__card:hover{
    outline: 3px solid $bgcolor-secondary;
    transition: .1s 
}
.porfolio__card--img{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    overflow: hidden;
}
.porfolio__card--img img{
    width: 100%;
}
.time{
    font-size: .8rem;
    color: $textcolor-primary;
    display: block;
}
#portfolio h2{
    color: rgba(0,0,0,0.9);
}
#portfolio p{
    font-size: 1.5rem;
}

@media (min-width: 602px) and (max-width: 993px){
    .portfolio__card--wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .portfolio__card{
        flex: 1 1 270px;
        margin:10px;
    }  
}