@import './variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
    color: $textcolor-primary;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
p{
    font-size: 1.25rem;
    margin: 0 0 15px;
    line-height: 1.5;
    word-spacing: 3px;
    font-weight: 300;
}