/*MENU*/
.header__nav--wrapper{
    width: 56px;
    height: 56px;
    position: relative;
}
#check{
    position: absolute;
    display: none;
}
.header__nav--wrapper label{
    width: 56px;
    height: 56px;
    position: absolute;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.header__nav--wrapper span{
    width: 40px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 24px;
    left: 3px;
    transition: all .3s ease-in-out;
        &::before{
            content: '';
            width: 40px;
            height: 3px;
            background-color: #fff;
            position: absolute;
            bottom: -10px;
            transition: all .3s ease-in-out;
        };
        &::after{
            content: '';
            width: 40px;
            height: 3px;
            background-color: #fff;
            position: absolute;
            bottom: 10px;
            transition: all .3s ease-in-out;
        }
}
#check:checked ~ label span{
    background-color: transparent;
        &::before{
            transform: translate(0px, -10px) rotate(45deg);
            transition: all .3s ease-in-out;
        };
        &::after{
            transform: translate(0px, 10px) rotate(-45deg);
            transition: all .3s ease-in-out;
        }
}
