@import '../base/variables';

@mixin title--header($size: 2rem, $color: #fff, $uppercase: uppercase, $align: center, $bgcolor: $bgcolor-secondary, $margin: 0 auto, $padding: 15px, $width: fit-content, $align-self: center, $radius: 15px) {
    font-size: $size;
    color: $color;
    text-transform: $uppercase;
    text-align: $align;
    background-color: $bgcolor;
    margin: $margin;
    padding: $padding;
    width: $width;
    align-self: $align-self;
    border-radius: $radius;
}